
body {
    margin: 0;
}


header {
    background-color: lightgoldenrodyellow;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    padding-right: 2%;
    padding-left: 2%;
}


.logo {
    color: brown;
    
}
